<h1>Longestwordgame#score</h1>
<p>Find me in app/views/longestwordgame/score.html.erb</p>

<p> time : <%= @result[:time] %></p>
<p> score: <%= @result[:score] %></p>
<p> message: <%= @result[:message] %></p>

